body {
    background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, black); /* Standard syntax */
    height: 615px;
    margin-top: 7.5pc;
}



.signin,
.signin h2,
.signin label,
.signin input {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

.signin {
    background-color: #141517;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px 0px rgb(0, 0, 0);
    cursor: default;
    height: 250px;
    margin: auto;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px 0px rgb(0, 0, 0);
    position: relative;
    padding: 15px 25px 0px 25px;
    width: 200px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .2), inset 0px 1px 1px 0px rgb(0, 0, 0);
}

.signin:before {
    border-bottom: 10px solid #141517;
    border-right: 10px solid #141517;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    content: '';
    height: 0px;
    left: 10px;
    position: absolute;
    top: -12px;
    width: 0px;
}

.signin h1 {
    color: #e4e4e4;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 40px;
}

.signin input[type=text],
.signin input[type=tel],
.signin input[type=email],
.signin button {
    border: 0;
    border-radius: 26px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    -moz-border-radius: 26px;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    outline: none;
    padding: 6px 15px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
    transition: all .15s ease-in-out;
    -webkit-border-radius: 26px;
    -webkit-transition: all .15s ease-in-out;

}

.signin input[type=text],
.signin input[type=tel],
.signin input[type=email] {
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
    background: #989898;
    background: -moz-linear-gradient(top, #ffffff 0%, #989898 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #989898));
    background: -webkit-linear-gradient(top, #ffffff 0%, #989898 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #989898 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #989898 100%);
    background: linear-gradient(top, #ffffff 0%, #989898 100%);
    color: #686868;
    width: 170px;
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6);
}

.signin input::-webkit-input-placeholder {
    color: orangered;
}


.signin input[type=text]:hover,
.signin input[type=tel]:hover,
.signin input[type=email]:hover {
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px 5px rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px 5px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .6), 0px 0px 5px rgba(255, 255, 255, .5);
}

.signin input[type=text]:focus,
.signin input[type=tel]:focus,
.signin input[type=email]:focus {
    background: #e1e1e1;
    background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
    background: linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
}

.signin button {
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px 0px rgba(0, 0, 0, .3);
    cursor: pointer;
    color: #445b0f;
    float: right;
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .45), 0px 1px 1px 0px rgba(0, 0, 0, .3);
}

.signin button:hover {
    box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px 0px rgba(0, 0, 0, .6);
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px 0px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, .8), 0px 1px 1px 0px rgba(0, 0, 0, .6);
}

.signin button:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.signin button {
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5cd4e), color-stop(100%, #6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
}
