<web-app>

    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>servlet.Student</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/servlet/Student</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>Professor</servlet-name>
        <servlet-class>servlet.Professor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Professor</servlet-name>
        <url-pattern>/servlet/Professor</url-pattern>
    </servlet-mapping>




</web-app>